<h1> <%= @group.name %>'s deets </h1>

<p>We're playing: <%= @group.game_title %></p>
<p>Players needed: <%= @group.players_needed %></p>
<p>Based out of: <%= @group.location %></p>
<p>We're playing here: <%= @group.play_location %></p>
<p>Next meetup: <%= @group.meetup_date %> at <%= @group.meetup_time %></p>
<p><strong>A bit about us:</strong></p>
<p><%= @group.description %></p>
