<h1> 
  Welcome <%= @user.username %>!
  <% if @user.id == current_user.id %>
    <%= link_to 'Edit Profile', edit_user_registration_path %>
  <% end %>
</h1> 
<%= image_tag(current_user.avatar.url(:medium)) %>
<p><%= @user.bio %></p>

<h3> Current groups: </h3>

<% if @user.groups.any? %>
  <% @user.groups.each do |group| %>
    <p><%= link_to group.name, group_path(group) %>
  <% end %>
<% else %>
  <p>You haven't joined any groups yet!
<% end %>